= effective_form_with(model: [:admin, committee_folder], engine: true) do |f|
  - if inline_datatable?
    = f.hidden_field :committee_id
    = f.hidden_field :committee_type
  - else
    = f.select :committee, { 'Committees' => Effective::Committee.sorted }, polymorphic: true

  = f.text_field :title

  - if f.object.persisted? || f.object.errors.include?(:slug)
    - current_url = (effective_committees.commitee_url(f.object) rescue nil)
    = f.text_field :slug, hint: "The slug controls this committee's internet address. Be careful, changing the slug will break links that other websites may have to the old address.<br>#{('This folder is currently reachable via ' + link_to(current_url.gsub(f.object.slug, '<strong>' + f.object.slug + '</strong>').html_safe, current_url)) if current_url }".html_safe

  - if defined?(EffectiveArticleEditor)
    = f.article_editor :body, hint: 'Displayed on the folder page'
  - else
    = f.rich_text_area :body, hint: 'Displayed on the folder page'

  = f.submit

- if committee_folder.persisted?
  %h2 #{committee_folder} Files
  - datatable = Admin::EffectiveCommitteeFilesDatatable.new(committee_folder: committee_folder, committee: committee_folder.committee)
  = render_inline_datatable(datatable)
