= tabs do
  - if committee_folder.persisted?
    = tab 'Folder Files' do
      = render('admin/committee_folders/form_bulk_upload', committee_folder: committee_folder)

      - datatable = Admin::EffectiveCommitteeFilesDatatable.new(committee_folder: committee_folder, committee: committee_folder.committee)
      = render_inline_datatable(datatable)

  = tab 'Folder Details' do
    = render 'admin/committee_folders/form_committee_folder', committee_folder: committee_folder
