%nav{'aria-label': 'breadcrumb'}
  %ol.breadcrumb
    %li.breadcrumb-item= link_to('All Committees', effective_committees.committees_path)
    %li.breadcrumb-item= link_to(committee_folder.committee, effective_committees.committee_path(committee_folder.committee))
    %li.breadcrumb-item.active{'aria-current': 'page'}= committee_folder

.effective-committee-folder
  - if committee_folder.rich_text_body.present?
    .mb-4= committee_folder.rich_text_body.to_s

  %table.table.table-striped
    %thead
      %tr
        %th File
        %th Date Added
        %th Description

    - committee_folder.committee_files.each do |file|
      %tr
        %td
          - if file.file.attached?
            = link_to(icon('download') + file.to_s, url_for(file.file), target: '_blank')
          - else
            = file.to_s

        %td= file.created_at.strftime('%F')
        %td= file.notes

  %p Displaying #{pluralize(committee_folder.committee_files.length, 'file')}
