= f.text_field :title

= acts_as_slugged_fields(f, url: (effective_committees.committee_url(f.object) rescue nil))

= f.check_box :display_on_index, label: "Display on the #{committees_name_label} page"
= f.check_box :display_on_dashboard, label: "Display to #{committee_members_label.downcase} on their dashboard"

- if defined?(EffectiveArticleEditor)
  = f.article_editor :body, hint: "Displayed on the #{committee_label} page"
- else
  = f.rich_text_area :body, hint: "Displayed on the #{committee_label} page"
