= effective_form_with(model: [:admin, committee], engine: true) do |f|
  = render 'admin/committees/fields', f: f

  = f.submit do
    = f.save 'Save'
    = f.save 'Save and View', class: 'btn btn-secondary'
