= tabs do
  = tab(committee_label) do
    = render 'admin/committees/form_committee', committee: committee

  - if committee.persisted?
    = tab(Effective::CommitteeMember) do
      .text-right.mb-3
        = clipboard_copy(committee.emails, label: "Copy all email addresses")

      - datatable = Admin::EffectiveCommitteeMembersDatatable.new(committee: committee)
      = render_inline_datatable(datatable)

    = tab 'Folders' do
      - datatable = Admin::EffectiveCommitteeFoldersDatatable.new(committee: committee)
      = render_inline_datatable(datatable)

    = tab 'Files' do
      - datatable = Admin::EffectiveCommitteeFilesDatatable.new(committee: committee)
      = render_inline_datatable(datatable)

    - if committee.respond_to?(:log_changes_datatable)
      = tab 'Logs' do
        = render_inline_datatable(committee.log_changes_datatable)
