= render('layout') do
  %nav{'aria-label': 'breadcrumb'}
    %ol.breadcrumb
      %li.breadcrumb-item= link_to("My Dashboard", return_to_dashboard_path)
      %li.breadcrumb-item= link_to("My #{committees_label}", effective_committees.committees_path)
      %li.breadcrumb-item.active{'aria-current': 'page'}= committee

  .effective-committee
    %h1= committee

    - if committee.rich_text_body.present?
      = committee.rich_text_body.to_s

    .my-4

    .row
      .col-lg
        %h3 Folders

        .card
          .list-group.list-group-flush
            - if committee.committee_folders.present?
              - committee.committee_folders.each do |folder|
                = link_to folder.to_s, effective_committees.committee_committee_folder_path(committee, folder), class: 'list-group-item list-group-action'
            - else
              .list-group-item No files or folders.

      .col-lg
        %h3= committee_members_label

        - members = committee.committee_members.select(&:active?).sort_by(&:to_s)

        %ul
          - members.each do |member|
            %li
              = member.user.to_s
              - if member.category.present?
                = badge(member.category)

-# TODO add recent activity here
