%h3 Recent Activity

- if current_user.committees.present?
  %ul
    - current_user.committees_recent_activity(limit: 10).each do |logs|
      - log = logs.first

      - committee = log.changes_to
      - committee_folder = log.associated.try(:committee_folder) || (log.associated if log.associated_type == 'Effective::CommitteeFolder')
      - committee_file = (log.associated if log.associated_type == 'Effective::CommitteeFile')

      - next if committee.blank?
      - next if committee_folder.blank?

      - link_to_committee = link_to(committee, effective_committees.committee_path(committee))
      - link_to_committee_folder = link_to(committee_folder, effective_committees.committee_committee_folder_path(committee, committee_folder))
      - link_to_file = link_to(committee_file.to_s, (committee_file ? url_for(committee_file.file) : '#'))

      - if logs.length == 1 && log.associated_type == 'Effective::CommitteeFolder'
        %li Folder #{link_to_committee_folder} was added to #{link_to_committee}.

      - elsif logs.length == 1 && log.associated_type == 'Effective::CommitteeFile'
        %li File #{link_to_file} was added to #{link_to_committee} &rarr; #{link_to_committee_folder}.

      - elsif logs.length > 1 && logs.all? { |log| log.associated_type == 'Effective::CommitteeFile' }
        %li #{logs.length} files were added to #{link_to_committee} &rarr; #{link_to_committee_folder}.

      - else
        - raise("Unexpected logs: #{logs.inspect}")

  -# TODO - make the index better before linking it
  -#%p= link_to('View more activity', effective_committees.activity_committees_path)

- else
  %p There's no activity to display. When there is, we'll show it here.
