%h2= committees_label

- if current_user.committees.present?
  %p 
    You have access to #{pluralize(current_user.committees.length, committee_label.downcase)}.

    - if EffectiveResources.authorized?(self, :all_committees, Effective::Committee)
      Please
      = link_to('click here', effective_committees.committees_path)
      to view all #{committees_label.downcase}.
    - elsif EffectiveResources.authorized?(self, :my_committees, Effective::Committee)
      Please
      = link_to('click here', effective_committees.my_committees_path)
      to view your #{committees_label.downcase}.

  - datatable = EffectiveResources.best('EffectiveCommitteesDatatable').new(self, namespace: :effective)
  = render_datatable(datatable, simple: true)

- else
  %p You aren't assigned to any #{committees_label.downcase}. When you are, we'll show them here.
