= tabs do
  = tab 'Committee' do
    = render 'effective/committees/form_committee', committee: committee

  - if committee.persisted?
    - if committee.respond_to?(:logs_datatable)
      = tab 'Logs' do
        = render_inline_datatable(committee.logs_datatable)
