- url = (committee.persisted? ? effective_committees.committee_path(committee) : effective_committees.committees_path)

= effective_form_with(model: committee, url: url) do |f|
  = render 'effective/committees/fields', f: f

  = effective_submit(f)

- if committee.persisted?
  %h2= committee_members_label
  - datatable = EffectiveCommitteeMembersDatatable.new(committee: committee)
  = render_inline_datatable(datatable)
