= effective_form_with(model: [:admin, committee_member], engine: true) do |f|
  - f.object.user_type ||= current_user.class.name
  - f.object.committee_type ||= Effective::Committee.name

  - committees = Effective::Committee.sorted.all

  = f.hidden_field :user_type
  = f.hidden_field :user_id

  = f.hidden_field :committee_type
  = f.hidden_field :committee_id

  - if f.object.new_record?
    - if inline_datatable? && inline_datatable.attributes[:committee_id].present?
      = f.select :user_ids, current_user.class.sorted, label: 'Add user(s)', hint: 'Add one or more users'

    - if inline_datatable? && inline_datatable.attributes[:user_id].present?
      = f.select :committee_ids, committees, label: 'Add committee(s)', hint: 'Add one or more committees'

    - unless inline_datatable?
      = f.select :committee_id, committees, label: 'Committee'
      = f.select :user_ids, current_user.class.sorted, label: 'User(s)', hint: 'Add one or more user at a time'

  - if f.object.persisted?
    = f.static_field :committee
    = f.static_field :user, label: 'Committee Member'

  - if EffectiveCommittees.use_effective_roles
    = f.checks :roles, EffectiveRoles.roles_collection(f.object, skip_disabled: true)

  = f.submit
